<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kitchen.system.mapper.MetricsQpsDayMapper">

    <resultMap type="MetricsQpsDay" id="MetricsQpsDayResult">
        <result property="id" column="id"/>
        <result property="time" column="time"/>
        <result property="appName" column="app_name"/>
        <result property="keyValue" column="key_value"/>
        <result property="hostName" column="host_name"/>
        <result property="logType" column="log_type"/>
        <result property="v1" column="v1"/>
        <result property="environment" column="environment"/>
        <result property="keyOne" column="key_one"/>
        <result property="keyTwo" column="key_two"/>
        <result property="keyThird" column="key_third"/>
    </resultMap>

    <sql id="selectMetricsQpsDayVo">
        select id, time, app_name, key_value, host_name, log_type, v1, environment, key_one, key_two, key_third from
        metrics_qps_day
    </sql>

    <select id="selectMetricsQpsDayList" parameterType="MetricsQpsDay" resultMap="MetricsQpsDayResult">
        <include refid="selectMetricsQpsDayVo"/>
        <where>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            <if test="appName != null  and appName != ''">and app_name like concat('%', #{appName}, '%')</if>
            <if test="keyValue != null  and keyValue != ''">and key_value = #{keyValue}</if>
            <if test="hostName != null  and hostName != ''">and host_name like concat('%', #{hostName}, '%')</if>
            <if test="logType != null  and logType != ''">and log_type = #{logType}</if>
            <if test="v1 != null ">and v1 = #{v1}</if>
            <if test="environment != null  and environment != ''">and environment = #{environment}</if>
            <if test="keyOne != null  and keyOne != ''">and key_one = #{keyOne}</if>
            <if test="keyTwo != null  and keyTwo != ''">and key_two = #{keyTwo}</if>
            <if test="keyThird != null  and keyThird != ''">and key_third = #{keyThird}</if>
        </where>
    </select>

    <select id="selectMetricsQpsDayById" parameterType="Long" resultMap="MetricsQpsDayResult">
        <include refid="selectMetricsQpsDayVo"/>
        where id = #{id}
    </select>

    <insert id="insertMetricsQpsDay" parameterType="MetricsQpsDay" useGeneratedKeys="true" keyProperty="id">
        insert into metrics_qps_day
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="time != null">time,</if>
            <if test="appName != null and appName != ''">app_name,</if>
            <if test="keyValue != null and keyValue != ''">key_value,</if>
            <if test="hostName != null">host_name,</if>
            <if test="logType != null and logType != ''">log_type,</if>
            <if test="v1 != null">v1,</if>
            <if test="environment != null">environment,</if>
            <if test="keyOne != null">key_one,</if>
            <if test="keyTwo != null">key_two,</if>
            <if test="keyThird != null">key_third,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="time != null">#{time},</if>
            <if test="appName != null and appName != ''">#{appName},</if>
            <if test="keyValue != null and keyValue != ''">#{keyValue},</if>
            <if test="hostName != null">#{hostName},</if>
            <if test="logType != null and logType != ''">#{logType},</if>
            <if test="v1 != null">#{v1},</if>
            <if test="environment != null">#{environment},</if>
            <if test="keyOne != null">#{keyOne},</if>
            <if test="keyTwo != null">#{keyTwo},</if>
            <if test="keyThird != null">#{keyThird},</if>
        </trim>
    </insert>

    <update id="updateMetricsQpsDay" parameterType="MetricsQpsDay">
        update metrics_qps_day
        <trim prefix="SET" suffixOverrides=",">
            <if test="time != null">time = #{time},</if>
            <if test="appName != null and appName != ''">app_name = #{appName},</if>
            <if test="keyValue != null and keyValue != ''">key_value = #{keyValue},</if>
            <if test="hostName != null">host_name = #{hostName},</if>
            <if test="logType != null and logType != ''">log_type = #{logType},</if>
            <if test="v1 != null">v1 = #{v1},</if>
            <if test="environment != null">environment = #{environment},</if>
            <if test="keyOne != null">key_one = #{keyOne},</if>
            <if test="keyTwo != null">key_two = #{keyTwo},</if>
            <if test="keyThird != null">key_third = #{keyThird},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMetricsQpsDayById" parameterType="Long">
        delete from metrics_qps_day where id = #{id}
    </delete>

    <delete id="deleteMetricsQpsDayByIds" parameterType="String">
        delete from metrics_qps_day where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>