package ${packageName}.controller;

import java.util.List;
import javax.servlet.http.HttpServletResponse;

import org.springframework.security.access.prepost.PreAuthorize;
import com.kitchen.sdk.metrics.annotation.Metrics;
import javax.annotation.Resource;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.PutMapping;
import org.springframework.web.bind.annotation.DeleteMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import com.jdd.common.response.ObjResponse;
import com.jdd.common.response.PagedResponse;
import ${packageName}.domain.${ClassName};
import ${packageName}.service.I${ClassName}Service;
#if($table.crud || $table.sub)
#elseif($table.tree)
#end

/**
 * ${functionName}Controller
 *
 * @author ${author}
 * @date ${datetime}
 */
@RestController
@Api(tags = "${functionName}")
@RequestMapping("/${moduleName}/${businessName}" )
public class ${ClassName}Controller extends BaseController {
    @Resource
    private I${ClassName}Service ${className}Service;

/**
 * 查询${functionName}列表
 */
@Metrics(value = {"XX服务", "${functionName}", "列表查询"})
@ApiOperation(value = "${functionName}-列表", notes = "${functionName}-列表", httpMethod = "GET")
@GetMapping("/list" )
    #if($table.crud || $table.sub)
    public PagedResponse list(${ClassName} ${className}) {
        startPage();
        List<${ClassName}> list = ${className}Service.select${ClassName}List(${className});
        return getPagedResponse(list);
    }
    #elseif($table.tree)
        public ObjResponse<${ClassName}> list(${ClassName} ${className}) {
            List<${ClassName}> list = ${className}Service.select${ClassName}List(${className});
            return ObjResponse.of(list);
        }
    #end


    /**
     * 获取${functionName}详细信息
     */
    @Metrics(value = {"XX服务", "${functionName}", "查询详情"})
    @ApiOperation(value = "${functionName}-查询详情", notes = "${functionName}-查询详情", httpMethod = "GET")
    @GetMapping(value = "/{${pkColumn.javaField}}" )
    public ObjResponse getInfo(@PathVariable("${pkColumn.javaField}" ) ${pkColumn.javaType} ${pkColumn.javaField}) {
        return ObjResponse.of(${className}Service.select${ClassName}By${pkColumn.capJavaField}(${pkColumn.javaField}));
    }

    /**
     * 新增${functionName}
     */
    @Metrics(value = {"XX服务", "${functionName}", "新增数据"})
    @ApiOperation(value = "${functionName}-新增数据", notes = "${functionName}-新增数据", httpMethod = "POST")
    @PostMapping
    public ObjResponse<Integer> add(@RequestBody ${ClassName} ${className}) {
        return ObjResponse.of(${className}Service.insert${ClassName}(${className}));
    }

    /**
     * 修改${functionName}
     */
    @Metrics(value = {"XX服务", "${functionName}", "更新数据"})
    @ApiOperation(value = "${functionName}-更新数据", notes = "${functionName}-更新数据", httpMethod = "PUT")
    @PutMapping
    public ObjResponse<Integer> edit(@RequestBody ${ClassName} ${className}) {
        return ObjResponse.of(${className}Service.update${ClassName}(${className}));
    }

    /**
     * 删除${functionName}
     */
    @Metrics(value = {"XX服务", "${functionName}", "删除数据"})
    @ApiOperation(value = "${functionName}-删除数据", notes = "${functionName}-删除数据", httpMethod = "Delete")
    @DeleteMapping("/{${pkColumn.javaField}s}" )
    public ObjResponse<Integer> remove(@PathVariable ${pkColumn.javaType}[] ${pkColumn.javaField}s) {
        return ObjResponse.of(${className}Service.delete${ClassName}By${pkColumn.capJavaField}s(${pkColumn.javaField}s));
    }
}
